<%= render 'layouts/navbar' %>

<h1>Temporadas</h1>

<p>A continuación puedes revisar las temporadas de ambas series y seleccionar alguna para ver el detalle.</p>

<h2>Breaking Bad</h2>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>Tamporadas</th>
    </tr>
  </thead>
  <tbody>
    <% @results[:bb].each do |season| %>
      <tr>
        <td><%= link_to "Temporada #{season}", season_show_path(season, :bb) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Better Call Saul</h2>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>Tamporadas</th>
    </tr>
  </thead>
  <tbody>
    <% @results[:bcs].each do |season| %>
      <tr>
        <td><%= link_to "Temporada #{season}", season_show_path(season, :bcs) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
